name: Run tests on push to main

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Shear
        run: df -h

      - name: Run Format
        run: dpkg -l
        
      - name: Run Format
        run: ls -l /opt
