name: Run tests on push/PR to main

on:

  schedule:
    - cron: '30 12 * * *'

  push:
    branches:
      - main

  pull_request:
    branches:
      - main
  
  workflow_dispatch:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Shear
        run: df -h
 
      - name: Remove packages to free up disk space
        run:  |
          sudo dpkg -P ant ant-optional azure-cli firefox google-chrome-stable \
            google-cloud-cli google-cloud-cli-anthoscli kubectl \
            microsoft-edge-stable mysql-server mysql-server-8.0  \
            mysql-server-core-8.0 powershell temurin-11-jdk temurin-17-jdk \
            temurin-21-jdk temurin-25-jdk temurin-8-jdk > /dev/null
            
      - name: Run Format
        run: dpkg-query -W -f='${Installed-Size;8} ${Package}\n' | sort -nr | head -n 20
  
      - name: Run Format
        run: find  /opt -maxdepth 2 -exec du -shx {} \;

      - name: df
        run: du -shx
