name: Run test coverage report on push to main

on:
  push:
    branches:
      - foo

  pull_request:
    branches:
      - foo

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install cargo-tarpaulin
        run: cargo install cargo-tarpaulin

      - name: Run coverage script
        run: ./scripts/coverage.sh
