name: Run tests on push to main

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main
  
  workflow_dispatch:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Shear
        run: df -h
 
      - name: remove packages
        run:  sudo dpkg -P google-cloud-cli-anthoscli microsoft-edge-stable azure-cli google-cloud-cli google-chrome-stable temurin-21-jdk temurin-17-jdk temurin-11-jdk temurin-25-jdk firefox temurin-8-jdk powershell kubectl mysql-server-core-8.0
        
      - name: Run Format
        run: dpkg-query -W -f='${Installed-Size;8} ${Package}\n' | sort -nr
  
      - name: Run Format
        run: find  /opt -maxdepth 1 -exec du -shx {} \;

      - name: df
        run: df -h

        
